
body{
    margin:auto;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%; 
    max-width: 100%;
    max-height: 100%;
    background-color: black;
}
.backgroundimg {
    position: fixed;
    z-index: 1;
    background-image: url(/assets/profiles/assets/nicole-imagen/dota2bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    opacity: 0.30;
}
.container {
    position: fixed;
    z-index: 999;
}
.presentationbox{
    display: flex;
}
.presentation-image{
    max-width: 100%;
    max-height: 100%;
    min-width: auto;
    min-height: auto;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    border: 0 px solid black;
    border-radius: 500px;
    border: 1px ;
}
.presentation-text h1{
    color: white;
    font-family: 'Dela Gothic One', cursive;
}
.presentation-text p{
    color: white;
    font-family: 'Dela Gothic One', cursive;
}